.drop-area {
    width: calc(100vw - 260px);
    height: 100vh;
    background-color: #f9f9f9;
    overflow-y: auto;
}
.drop-area-container {
    padding: 10px;
    margin: 5px;
    background: #ddd;
    border-radius: 5px;
    text-align: center;
}
