.sidebar__search {
    width: 100%;
    background: #2D2D2D;
}

.sidebar__search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    color: #D4D4D4;
    background-color: #2D2D2D;
}
